::-webkit-scrollbar {
	width: 0;
}

body {
	background-color: rgb(225, 212, 201);
	font-family: Inter;
}

.header__nav-menu {
	margin: 20px 40px 0px 40px;
	font-size: 16px;
	font-weight: 600;
	color: rgb(64, 63, 61);
}

.nav-menu__logo {
	width: 100px;
	height: 60px;
	display: flex;
	background: no-repeat center url(../src/images/logo.png);
	background-size: contain;
}

.logo-mobile {
	display: none;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.nav-menu__list {
	list-style: none;
	display: flex;
	gap: 0px 40px;
}

.nav-menu__link,
.coffee-menu__menu-link {
	text-decoration: none;
	color: rgb(64, 63, 61);
	position: relative;
}

.nav-menu__link::after,
.coffee-menu__menu-link::after {
	position: absolute;
	content: '';
	bottom: -5px;
	display: block;
	width: 0;
	height: 2px;
	background: rgb(64, 63, 61);
	transition: 0.3s;
	left: 50%;
	transform: translate(-50%);
}

.nav-menu__link:hover::after,
.coffee-menu__menu-link:hover::after {
	width: 100%;
}

.nav-menu__coffee-menu {
	display: flex;
	align-items: center;
}

.coffee-menu__menu-link {
	display: flex;
	align-items: center;
	gap: 8px;
	border: none;
}

.burger-btn {
	display: none;
	width: 44px;
	height: 44px;
	position: relative;
	border: solid 1px rgb(102, 95, 85);
	border-radius: 100px;
}

.burger-btn__line {
	position: absolute;
	background-color: rgb(64, 63, 61);
	width: 16px;
	height: 1.5px;
	left: 14px;
}

.burger-btn__line:nth-child(1) {
	transition: 0.2s ease;
	transform: translateY(4px);
}
.burger-btn__line:nth-child(2) {
	transition: 0.2s ease;
	transform: translateY(-4px);
}

.header__background-container {
	position: relative;
	margin: 20px 40px 0px 40px;
	border-radius: 40px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.background-container__main-title {
	width: 530px;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	padding-top: 100px;
	margin-left: 100px;
	padding-bottom: 100px;
}

.main-title__video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 40px;
	min-width: 100%;
	height: 100%;
}

.main-title__title {
	font-size: 72px;
	font-weight: 600;
	color: rgb(225, 212, 201);
}

.highlighter {
	color: rgb(176, 144, 122);
	font-style: italic;
}

.main-title__paragraph {
	font-size: 16px;
	font-weight: 400;
	color: rgb(225, 212, 201);
	line-height: 150%;
}

.main-title__link {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(64, 63, 61);
	font-weight: 600;
	line-height: 150%;
	background-color: rgb(225, 212, 201);
	width: 200px;
	height: 64px;
	border-radius: 100px;
	border: none;
	transition: 0.2s ease;
}

.main-title__link:hover {
	color: rgb(225, 212, 201);
	background-color: rgb(102, 95, 85);
}

.favorite {
	padding-top: 100px;
	color: rgb(64, 63, 61);
}

.favorite__container {
	margin: 0 40px 0 40px;
}

.favorite__title {
	text-align: center;
	font-size: 60px;
	font-weight: 600;
}

.favorite__slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}

.slider__main-slide {
	display: flex;
	overflow: hidden;
	text-align: center;
	width: 480px;
}

.main-slide__container {
	transition: 0.2s ease;
}

.main-slide__img {
	width: 480px;
}

.slider__btn {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	border-width: 1px;
	border-color: rgb(102, 95, 85);
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease;
	background: center no-repeat url(../src/images/slider-arrow.png);
}

.slider__btn-prev {
	transform: rotateY(180deg);
}

.slider__btn:hover {
	background: center no-repeat url(../src/images/slider-arrow-light.png)
		rgb(102, 95, 85);
}

.main-slide__title {
	font-size: 24px;
	font-weight: 600;
	margin-top: 20px;
}

.main-slide__descrption {
	font-size: 16px;
	font-weight: 400;
	margin-top: 16px;
}

.main-slide__price {
	font-weight: 600;
	margin-top: 16px;
}

.favorite__slider_controls {
	display: flex;
	justify-content: center;
	gap: 12px;
	margin-top: 40px;
}

.pagination-line.active .pagination-progress {
	width: 100%;
	transition: 3s;
}

.pagination-line {
	width: 40px;
	height: 4px;
	background-color: rgb(193, 182, 173);
}

.pagination-progress {
	width: 0%;
	height: 4px;
	background-color: rgb(102, 95, 85);
	transition: 0s;
}

.about {
	padding-top: 100px;
}

.about__container {
	margin: 0 40px 0 40px;
}

.about__title {
	font-size: 60px;
	color: rgb(64, 63, 61);
	text-align: center;
	font-weight: 600;
}

.about__gallery {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	margin-top: 40px;
}

.about__gallery_left-column,
.about__gallery_right-column {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	width: 50%;
}

.img-container_big {
	width: 100%;
	height: 590px;
	border-radius: 20px;
	transition: 0.2s ease;
}

.img-container_small {
	width: 100%;
	height: 430px;
	border-radius: 20px;
	transition: 0.2s ease;
}

.img-container_big:hover,
.img-container_small:hover {
	scale: 0.9;
}

.left-column__big-container {
	background: no-repeat center url(../src/images/about-1.jpeg);
}
.left-column__small-container {
	background: no-repeat center url(../src/images/about-2.jpeg);
}
.right-column__big-container {
	background: no-repeat center url(../src/images/about-4.jpeg);
}
.right-column__small-container {
	background: no-repeat center url(../src/images/about-3.jpeg);
}

.mobile {
	padding-top: 100px;
	color: rgb(64, 63, 61);
}

.mobile__container {
	margin: 0px 40px 0px 40px;
	display: flex;
	justify-content: space-between;
	gap: 100px;
}

.mobile__offer {
	margin-top: 144px;
}

.mobile__offer_title {
	font-size: 60px;
	font-weight: 600;
}

.mobile__offer_decription {
	font-size: 16px;
	font-weight: 400;
	margin-top: 40px;
}

.mobile__offer_buttons {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	margin-top: 40px;
}

.mobile__offer_button {
	width: 200px;
	border-width: 1px;
	border-color: rgb(102, 95, 85);
	border-radius: 100px;
	transition: 0.2s ease;
}

.mobile__offer_button:hover {
	background-color: rgb(102, 95, 85);
}

.mobile__offer_button:hover .btn__description {
	color: rgb(225, 212, 201);
}

.mobile__offer_button:hover .btn__icon_app-store {
	background: center no-repeat url(../src/images/apple-icon-light.png);
}

.mobile__offer_button:hover .btn__icon_google {
	background: center no-repeat url(../src/images/google-icon-light.png);
}

.btn__container {
	display: flex;
	gap: 8px;
	margin: 12px 42px 12px 20px;
}

.btn__icon_app-store {
	width: 36px;
	height: 36px;
	background: center no-repeat url(../src/images/apple-icon.png);
}

.btn__description {
	width: 92px;
	display: flex;
	flex-wrap: wrap;
}

.btn__top_title {
	font-size: 10px;
	font-weight: 600;
}

.btn__bot_title {
	font-size: 16px;
	font-weight: 600;
}

.btn__icon_google {
	width: 36px;
	height: 36px;
	background: center no-repeat url(../src/images/google-icon.png);
}

.contacts {
	padding-top: 100px;
}

.contacts__container {
	margin: 0 40px 40px 40px;
	background-color: rgb(102, 95, 85);
	border-radius: 40px;
	display: flex;
	gap: 100px;
	justify-content: space-evenly;
}

.contacts__offer {
	margin: 100px 0px 100px 100px;
	width: 630px;
}

.contacts__offer_title {
	font-size: 60px;
	font-weight: 600;
	color: rgb(225, 212, 201);
}

.contacts__info {
	margin-right: 100px;
}

.highlighter-brown {
	color: rgb(176, 144, 122);
	font-style: italic;
}

.contacts__socials {
	margin-top: 40px;
	display: flex;
	gap: 12px;
}

.socials__link {
	display: block;
	width: 60px;
	height: 60px;
	border: 1px solid rgb(193, 182, 173);
	border-radius: 100px;
	transition: 0.2s ease;
}

.socials__twitter {
	background: no-repeat center url(../src/images/twitter-light.png);
}
.socials__instagram {
	background: no-repeat center url(../src/images/instagram-light.png);
}
.socials__facebook {
	background: no-repeat center url(../src/images/facebook-light.png);
}

.socials__twitter:hover {
	background: no-repeat center url(../src/images/twitter-dark.png);
	border-color: rgb(225, 212, 201);
	background-color: rgb(225, 212, 201);
}
.socials__instagram:hover {
	background: no-repeat center url(../src/images/instagram-dark.png);
	border-color: rgb(225, 212, 201);
	background-color: rgb(225, 212, 201);
}
.socials__facebook:hover {
	background: no-repeat center url(../src/images/facebook-dark.png);
	border-color: rgb(225, 212, 201);
	background-color: rgb(225, 212, 201);
}

.contacts__info {
	color: rgb(225, 212, 201);
	font-weight: 600;
	margin: 132px 100px 132px 0px;
}

.contacts__info_title {
	font-size: 24px;
}

.contacts__list {
	list-style-type: none;
	margin-top: 40px;
}

.list__geo,
.list__number,
.list__work-time {
	display: inline-flex;
	gap: 4px;
}

.list__number,
.list__work-time {
	margin-top: 16px;
}

.list__icon {
	width: 20px;
}

.list__info {
	font-size: 16px;
}

.list__geo_icon {
	background: no-repeat center url(../src/images/pin-alt.png);
}
.list__number_icon {
	background: no-repeat center url(../src/images/phone.png);
}
.list__work-time_icon {
	background: no-repeat center url(../src/images/clock.png);
}

.list__element {
	position: relative;
	cursor: pointer;
}

.list__element::after {
	position: absolute;
	content: '';
	bottom: -5px;
	display: block;
	width: 0;
	height: 2px;
	background: rgb(225, 212, 201);
	transition: 0.3s;
	left: 50%;
	transform: translate(-50%);
}

.list__element:hover::after {
	width: 100%;
}

@media (min-width: 1300px) {
	.header__background-container {
		display: flex;
	}

	.background-container__main-title {
		position: absolute;
	}

	.main-title__video {
		position: static;
	}
}

@media (max-width: 1250px) {
	.mobile__container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.mobile__offer {
		margin-top: 0px;
	}
}

@media (max-width: 1100px) {
	.background-container__main-title {
		margin-left: 60px;
	}

	.about__gallery {
		justify-content: center;
	}

	.about__gallery_left-column {
		width: 660px;
	}

	.about__gallery_right-column {
		display: none;
	}

	.contacts__container {
		flex-wrap: wrap;
		gap: 0px;
		justify-content: flex-start;
	}

	.contacts__offer {
		margin: 100px 60px 0px 60px;
	}

	.contacts__info {
		margin: 100px 60px;
	}
}

@media (max-width: 780px) {
	.header__nav-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo-mobile {
		display: inline;
	}

	.logo-desktop {
		display: none;
	}

	.burger-btn {
		display: block;
	}

	.nav-menu {
		display: block;
		position: fixed;
		top: 99px;
		right: 0;
		background-color: rgb(225, 212, 201);
		font-size: 32px;
		width: 100%;
		height: 100%;
		transition: 0.2s ease;
		right: -100%;
	}

	.lock {
		overflow: hidden;
	}

	.header__nav-menu.open .nav-menu {
		transform: translateX(-100%);
	}

	.header__nav-menu.open .burger-btn__line:nth-child(1) {
		transform: rotateZ(45deg);
	}
	.header__nav-menu.open .burger-btn__line:nth-child(2) {
		transform: rotateZ(-45deg);
	}

	.nav-menu__list {
		display: block;
		text-align: center;
	}

	.nav-menu__item {
		margin-top: 60px;
	}

	.nav-menu__coffee-menu {
		margin-top: 100px;
		text-align: center;
		display: block;
	}

	.coffee-menu__menu-link {
		display: inline-block;
	}
}

@media (max-width: 720px) {
	.main-title__title {
		font-size: 42px;
	}

	.background-container__main-title {
		padding-top: 60px;
		padding-bottom: 60px;
		margin-left: 16px;
		margin-right: 16px;
		width: auto;
	}

	.header__background-container,
	.header__nav-menu {
		margin: 20px 16px 0px 16px;
	}

	.slider__btn {
		display: none;
	}

	.favorite__title,
	.about__title,
	.mobile__offer_title,
	.contacts__offer_title {
		font-size: 32px;
	}

	.favorite__container,
	.about__container,
	.mobile__container,
	.contacts__container {
		margin: 0px 16px 0 16px;
	}

	.contacts__container {
		margin-bottom: 40px;
	}

	.favorite__slider {
		justify-content: center;
	}

	.slider__main-slide,
	.main-slide__img {
		width: 348px;
	}

	.mobile__offer_buttons {
		flex-wrap: wrap;
	}

	.mobile__container {
		gap: 40px;
	}

	.mobile__img {
		width: 100%;
	}

	.contacts__offer {
		margin: 60px 16px 0px 16px;
	}

	.contacts__info {
		margin: 40px 16px 60px 16px;
	}
}
