.main-menu__container {
	margin: 20px 40px 0px 40px;
	color: rgb(64, 63, 61);
	text-align: center;
}

.main-menu__title {
	max-width: 800px;
	font-size: 60px;
	font-weight: 600;
	text-align: center;
	margin: 0 auto;
}

.main-menu__selector {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 16px;
}

.selector__tab {
	font-size: 16px;
	display: flex;
	border: solid 1px rgb(193, 182, 173);
	border-radius: 100px;
	align-items: center;
	transition: 0.2s ease;
}

.selector__tab:hover {
	background-color: rgb(102, 95, 85);
	color: rgb(225, 212, 201);
}

.selector__tab:hover .tab_icon {
	background-color: rgb(225, 212, 201);
}

.tab_icon {
	width: 30px;
	height: 30px;
	background-color: rgb(193, 182, 173);
	border-radius: 100px;
	margin: 8px;
	transition: 0.2s ease;
}

.tab_icon-emoji {
	margin-top: 3px;
	display: flex;
	justify-content: space-around;
}

.tab_name {
	font-weight: 600;
	margin: 11px 16px 11px 0px;
}

.main-menu__list {
	margin: 40px 40px 0px 40px;
	display: flex;
	gap: 40px 40px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.list__item {
	width: 310px;
	border: solid 1px rgb(193, 182, 173);
	border-radius: 40px;
	transition: 0.2s ease;
	cursor: pointer;
}

.list__item:hover {
	scale: 0.9;
}

.list__item_img {
	width: 100%;
	border-radius: 40px;
}

.list__item_description {
	font-size: 24px;
	font-weight: 600;
	margin: 20px 20px;
}

.item_description__about {
	font-weight: 400;
	font-size: 16px;
	margin-top: 12px;
}

.item_description__price {
	margin-top: 12px;
}
